.main-category-item {
  background: #fff;
  border-radius: var(--radius-md);
  border: 1px solid var(--color-border);
  box-shadow: 0 18px 48px 0 rgba(24, 31, 42, 0.07);
  padding: 8px 10px;

  flex: 1 0 170px;

  & > h5 {
    text-transform: capitalize;
    margin-block: unset;
    padding: 10px 8px calc(50px - 22px) 8px;
  }

  & > img {
    border-radius: var(--radius-md);
    overflow: hidden;
  }
}
