.container {
  width: 100%;
  max-width: var(--container-max-width);
  margin-inline: auto;
  padding-inline: var(--container-padding-desktop);

  @media (max-width: 639px) {
    padding-inline: var(--container-padding-mobile);
  }
}
