@mixin header-action-border {
  border-radius: var(--radius-md);
  border: 1px solid var(--color-border);
}

.header {
  background: var(--color-surface);
  border-bottom: 1px solid var(--color-border);

  &-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-block: 17px;
    gap: 16px;
    flex-wrap: wrap;
    @media (max-width: 639px) {
      gap: 10px;
    }
  }

  &-search {
    display: flex;
    flex-grow: 1;
    gap: 12px;
    position: relative;
    max-height: 46px;
    z-index: 10;

    &-input {
      padding: 14px 16px 14px 46px;
      @include header-action-border();
      font-size: 14px;
      font-weight: bold;
      width: 100%;
      transition: all 0.2s ease-out;
      min-width: 0;

      &:focus-visible {
        box-shadow: var(--shadow-focus);
        border: 1px solid var(--color-accent-muted);
        outline: none;
        color: var(--color-accent);
      }
    }

    &-input:focus-visible ~ &-icon {
      color: var(--color-accent);
    }

    &-icon {
      position: absolute;
      top: 14px;
      left: 16px;
      color: var(--color-text-secondary);
      // color: var(--color-accent);
    }

    @media (max-width: 639px) {
      order: 4;
    }
  }

  &-nav-actions {
    display: flex;
    gap: 8px;
    & .header-nav-action {
      display: flex;
      position: relative;
      padding: 10px;
      @include header-action-border();

      &-badge {
        position: absolute;
        top: 2px;
        right: 2px;
        font-size: 9px;
        font-weight: 900;
        color: var(--color-text-inverted);
        border-radius: 50px;
        background: var(--color-accent);
        border: 2px solid var(--color-surface);
        padding-inline: 4px;
        line-height: normal;
      }
    }
  }
}
